body {
    background-image: url('../assets/images/DiscoverTM.jpg');
    background-size: cover;
    height: 100vh; 
}

.topnav {
  width:96vw;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  justify-content: flex-end;
  padding-top: 40px;
  margin-bottom: 50px;
}
  

.topnav a {
  color: gray;
  text-align: center;
  font-size: 22px;
  margin-left: 60px; 
  text-decoration: none;
}

.topnav a.active {
  color:#8C52FF;
}

.textbox {
    margin-bottom: 2vw;
    text-align: center;
    border-radius: 10px;
    border-width: 4px;
    border-color: #E1AFD1;
    border-style: solid;
    padding: 10px; 
    box-sizing: border-box;
    background-color: white;
    color:  rgb(39, 37, 37);
    width: 28vw;
}

.texts {
  width: 60vw;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16;
  color:  rgb(39, 37, 37);
  column-gap: 2vw;
  align-items: center;

}

.container {
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}