body {
    background-image: url('../assets/images/DiscoverTM.jpg');
    background-size: cover;
    height: 100vh; 
}
.topnav {
  overflow: hidden;
  justify-content: flex-end;
  position: absolute;
  top: 60px; 
  right: 120px;
  }
  

  .topnav a {
    color: gray;
    text-align: center;
    font-size: 22px;
    margin-left: 60px; 
    text-decoration: none;
  }

  
  .topnav a.active {
    color:#8C52FF;
  
  }

.textbox {
    position: absolute;
    top: 20%;
    left: 40%; 
    margin-right: 60px;
    text-align: center;
    border-radius: 10px;
    border-width: 4px;
    border-color: #8C52FF;
    border-style: solid;
    padding: 10px; 
    box-sizing: border-box;
}
